.Link {
  min-height: 50px;
  height: 100%;
  width: 100px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.NavBar {
  min-height: 50px;
  width: 100%;
  background-color: #222;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.Link a{
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.Link:hover {
  background-color: lightgrey
}